; ===========================================================================
; User build options
; ===========================================================================

; This is an example file. 
; Before building, copy this file into _ParametersDev.asm (without the .example suffix).
; After that, set the parameters and run Build.bat.

; This way these parameters can be changed without having to deal with git conflicts.
; _ParametersDev.asm MUST be excluded from git.

Debug_Title         = 1     ; set to 1 to enable title screen
GameDebug           = 1     ; If 1, enable debug mode for sonic
Debug_Lagometer     = 1     ; set to 1 to enable CPU lagometer
Debug_EasyBoss      = 1     ; set to 1 to make every boss 1-hit kill

DisableSRAM         = 0     ; set to 1 to create a ROM without SRAM

Debug_LevelId       = -1    ; $0202 ; set to -1 to disable debugging a level
Debug_Xpos          = $0234 ; xpos to spawn to
Debug_Ypos          = $0728 ; ypos to spawn to

; ---------------------------------------------------------------------------

    include "Sonic.asm"